*.o
*~
*.bbl
*.blg
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.dropbox
_region_.prv
English-Script/algorithms.prv/
English-Script/dhbw-logo-eps-converted-to.pdf
C/
SetlX/Huffman/moby-dick.gz
feedback.txt
.DS_Store
Lecture-Notes/algorithms.prv/
SetlX/.DS_Store
SetlX/Huffman/alice-huffman.dot
SetlX/Huffman/alice-huffman.pdf
SetlX/Huffman/moby-dick-huffman.dot
SetlX/Huffman/moby-dick-huffman.pdf
SetlX/Huffman/small.dot
SetlX/Huffman/small.pdf
