*.o
*~
*.bbl
*.blg
*.aux
*.dvi
*.log
*.out
*.toc
*.class
*.el
*.synctex.gz
_region_.tex
auto/
.dropbox
_region_.prv
English-Script/algorithms.prv/
English-Script/dhbw-logo-eps-converted-to.pdf
C/
SetlX/Huffman/moby-dick.gz
feedback.txt
.DS_Store
Lecture-Notes/algorithms.prv/
SetlX/.DS_Store
SetlX/Huffman/alice-huffman.dot
SetlX/Huffman/alice-huffman.pdf
SetlX/Huffman/moby-dick-huffman.dot
SetlX/Huffman/moby-dick-huffman.pdf
SetlX/Huffman/small.dot
SetlX/Huffman/small.pdf
Literature/
Exercises/
Lecture-Notes/_minted-_region_/
Lecture-Notes/_minted-algorithms/
Lecture-Notes/algorithms.ilg
Lecture-Notes/algorithms.ind
Lecture-Notes/algorithms.lof
Lecture-Notes/Abbildungen/avl-eps-converted-to.pdf
Lecture-Notes/Abbildungen/casell-eps-converted-to.pdf
Lecture-Notes/Abbildungen/caselr-eps-converted-to.pdf
Lecture-Notes/Abbildungen/caselr-nach-eps-converted-to.pdf
Python/__pycache__/
Python/.ipynb_checkpoints/
Python/Chapter-02/Division-Iterative.ipynb
Python/Chapter-02/Division-Recursive.ipynb
Python/Chapter-02/Integer-Square-Root-Recursive.ipynb
Python/Chapter-03/IntegerSquareRoot/*
Python/Chapter-03/Integer-Square-Root.ipynb
Python/Chapter-03/integer-square-root.pdf
Python/Chapter-03/integer-square-root.tex
Python/Chapter-04/Dual-Pivot-Quicksort-Array.ipynb
Python/Chapter-04/Three-Way-Merge-Sort-Array.ipynb
Python/Chapter-04/Three-Way-Merge-Sort.ipynb
Python/Chapter-02/.ipynb_checkpoints/
Python/Chapter-03/.ipynb_checkpoints/
Python/Chapter-04/.ipynb_checkpoints/
Python/Chapter-04/Digit-Recognition-Select.ipynb
Python/Chapter-04/Quick-Select-Array.ipynb
Python/Chapter-04/Quick-Select.ipynb
Python/Chapter-04/digits.pdf
Python/Chapter-05/.ipynb_checkpoints/
Python/Chapter-04/Quick-Select-Array-Copy1.ipynb
Python/Chapter-04/quick-select.pdf
Python/Chapter-04/quick-select.tex
Python/Chapter-06/.ipynb_checkpoints/
Python/Chapter-06/2-3-Trees.ipynb
Python/Chapter-06/Binary-Tries.ipynb
Python/Chapter-07/.ipynb_checkpoints/
Python/Chapter-08/.ipynb_checkpoints/
Python/Chapter-08/Encode-Decode.ipynb
Python/Chapter-09/.ipynb_checkpoints/

